//Variables
//$mainColor: rebeccapurple;
$mainColor: #F487B1;
//$mainColor: rgb(207, 153, 207);
$mainFont: 'Dosis', 'Times New Roman', Times, serif;
$nameFont: 'Great Vibes', 'Dosis', 'Times New Roman', Times, serif;

//Content
body {
    font-family: $mainFont;
    font-size: 2em;
}

.anchor{
    display:block;
    height:63px; /* this is the height of your header */
    margin-top:-63px; /* this is again negative value of the height of your header */
    visibility:hidden;
 }

header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    //margin-bottom: 1em;

    .navigation {
        background-color: $mainColor;
        //margin-bottom: 2em;
        height: 7rem;
    
        .brand {
            margin-top: 0.1em;
            font-weight: bold;
            color: white !important; 
            font-size: 2.5em;
            height: 7rem;
        }
        
        .tabs {
            float: right;

            li a:hover {
                background-color: aliceblue !important;
            }
        }
    }
}


.presentation {
    margin-top: 1em;
    width: 100%;
    height: 80rem;
    background-color: lightsteelblue;
    padding: 4em;

    #name {
        font-family: $nameFont;
        font-weight: bold;
        //font-size: 15em;
        font-size: 650%;
    }

    .manualItalic {
        font-style: italic;
    }

    .tec {
        padding: 0.5em;

        #tec-list {
            margin-top: 0.8em;
        }

        #tec-list-back {
            margin-top: 0.8em;
        }
    }
    
    img {
        border-radius: 15px;
        width: 60%;
    }
}

ins {
    text-decoration: none;
    border-bottom: 5px solid yellow !important;
}

.container{
    width: 100%;
    margin-top: 1.2em;

    .row .row {
        img{
            width: 90% !important;
            height: 100% !important;
            margin: 0.5em;
        }

        li.list-group-item.active {
             background-color: #474c53 !important;
             border-color: lightgrey;
        }
    }

    .hora {
        font-size: 5em;
        padding: 0.5em;
        text-align: center;
    }

    .footer-baby {
        float: right;
        width: 15%;
    }
}

footer .container  {
    padding: 2em;
    color: white;
}